/* CSS Here */
body, html {
	min-height: 100%;
}

body {
	background-image: url("shoppingcartbkgd.png");
}

#groceryList li:nth-child(odd) {
	background-color: #bcd1e2;
}

.contentDiv {
	background-color: white;
	border-radius: 5px;
	padding: 10px;
	box-shadow: inset 0px 0px 10px #ccc;
}

#headerTitle {
	text-align: center;
	padding: 0;
	margin: 0;
}